{% extends 'dashboard/base.html' %}

{% block main %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Employee</h6>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'dashboard:employees-create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">

                <div class="form-group mt-3 ">
                    <input type="email" class="form-control" value="{{ emp_email }}" name="emp_email"
                        placeholder="Email">
                    {% if errors.emp_email %}
                    <p class="error">{{ errors.emp_email }}</p>
                    {% endif %}
                </div>
                <div class="form-group  mt-3">
                    <input type="text" class="form-control" value="{{ emp_pwd }}" name="emp_pwd" placeholder="Password">
                    {% if errors.emp_pwd %}
                    <p class="error">{{ errors.emp_pwd }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" value="{{ emp_name}}" name="emp_name" placeholder="Employee Name">
                {% if errors.emp_name %}
                <p class="error">{{ errors.emp_name }}</p>
                {% endif %}
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" value="{{ emp_contact }}" name="emp_contact"
                    placeholder="Contact">
                {% if errors.emp_contact %}
                <p class="error">{{ errors.emp_contact }}</p>
                {% endif %}
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" value="{{ salary }}" name="salary" placeholder="Salary">
                {% if errors.salary %}
                <p class="error">{{ errors.salary }}</p>
                {% endif %}
            </div>
            <div class="form-group mt-3">
                <input type="date" class="form-control" value="{{ reg_date }}" name="reg_date" placeholder="Register Date">
                {% if errors.reg_date %}
                <p class="error">{{ errors.reg_date }}</p>
                {% endif %}
            </div>
           

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>
    {% if msg %}
    <h1>{{msg}}</h1>
    {% endif %}
</div>
</div>

{% endblock main %}