{% extends 'dashboard/base.html' %}

{% block main %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Admin</h6>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'dashboard:admins-create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mt-3">
                <input type="text" class="form-control" id="inputAddress2" name="username" placeholder="Username">
            </div>
            <div class="form-group mt-3 ">
                <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
            </div>
            <div class="form-group  mt-3">
                <input type="password" class="form-control" id="inputPassword4" name="admin_pwd" placeholder="Password">
            </div>

            <div class="form-group mt-3">
                <input type="text" class="form-control" id="inputAddress" name="full_name" placeholder="Name">
            </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>
    {% if msg %}
    <h1>{{msg}}</h1>
    {% endif %}
</div>
</div>

{% endblock main %}