{% extends 'dashboard/base.html' %}

{% block main %}
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Milk</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="float-right">
                            <a href="" class = "btn btn-primary">
                                <i class="fa fa-plus"></i>&nbsp; Add Milk
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Fat</th>
                                        <th>Quantity in Ltr</th>
                                        <th>Rate</th>
                                        <th>Date</th>
                                        <th>Fill By</th>
                                        <th>Farmer</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for object in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ object.fat }}</td>
                                        <td>{{ object.qty }}</td>
                                        <td>{{ object.rate }}</td>
                                        <td>{{ object.date }}</td>
                                        <td>{{ object.emp_id }}</td>
                                        <td>{{ object.farmer_id }}</td>
                                        <td>
                                            <div class="btn-group " role="group">
                                                <a href="{% url 'dashboard:milk-update' object.pk %}" class="btn btn-info btn-sm  m-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                {% if not object.non_deletetable %}
                                                <form action="{% url 'dashboard:milk-delete' object.pk %}"  method="post">
                                                {% csrf_token %}
                                                    <button class="btn btn-danger btn-sm delete-link ml-2 m-2" data-tooltip="tooltip" title="Delete">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{% endblock main %}