{% extends 'dashboard/base.html' %}

{% block main %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Milk</h6>
    </div>
    <div class="card-body">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group  mt-3">
                <label> Fat</label>
                <input type="number" class="form-control" value="{{ milk.fat }}" name="fat" >
            </div>
            <div class="form-group mt-3">
                <label >Quantity</label>
                <input type="number" class="form-control"  name="qty" value="{{ milk.qty }}" >
            </div>
            <div class="form-group mt-3">
                <label >Date</label>
                <input type="date" class="form-control"  name="date" value="{{ milk.date|date:'Y-m-d' }}">
            </div>
            <div class="form-group mt-3 ">
                <label hidden > Added By</label>
                <select class="form-control"  name="emp_id" hidden>
                    {% for employee in employees %}
                        {% if employee.id == milk.emp_id_id %}
                            <option value="{{ employee.id }}" selected >{{ employee.emp_name }}</option>
                       
                        {% endif %}
                    {% endfor %}
                </select>

            </div>
            
            <div class="form-group mt-3 ">
                <label for="">Farmer Id</label>
                <select class="form-control"  name="farmer_id" >
                    {% for farmer in farmers %}
                    {% if farmer.id == milk.farmer_id_id %}
                    <option value="{{ farmer.id }}" selected >{{ farmer.farmer_name }} </option>
                    {% else %}
                    <option value="{{ farmer.id }}">{{ farmer.farmer_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

    </div>
    <button type="submit" class="btn btn-primary">update</button>
    </form>
    {% if msg %}
    <h1>{{msg}}</h1>
    {% endif %}
</div>
</div>

{% endblock main %}