{% extends 'dashboard/base.html' %}

{% block main %}
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Farmer</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Admin</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for farmer in farmers %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ farmer.farmer_email }}</td>
                                        <td>{{ farmer.farmer_pwd }}</td>
                                        <td>{{ farmer.farmer_name }}</td>
                                        <td>{{ farmer.farmer_address }}</td>
                                        <td>{{ farmer.farmer_contact }}</td>
                                        <td>{{ farmer.admin_id }}</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a href="{% url 'dashboard:farmers-update' farmer.pk %}" class="btn btn-info btn-sm ">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                {% if not farmer.non_deletetable %}
                                                <form action="{% url 'dashboard:farmers-delete' farmer.pk %}"  method="post">
                                                {% csrf_token %}
                                                    <button class="btn btn-danger btn-sm delete-link ml-2" data-tooltip="tooltip" title="Delete">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{% endblock main %}